<!DOCTYPE html>

<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">

	<!-- <meta> 元素会设置页面的视口，让页面根据设备的宽度来自动缩放页面，让移动设备拥有更好的浏览体验 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>

<body style="width:800px">
    <!-- 插入到页面标题上方 -->
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}

    <nav>
        <ul>
            <li><a href="select  " target=_blank >Select</a></li>
        </ul>
    </nav>

    
	<!-- 填充内容 -->
    {% block content %}{% endblock %}

</body>

</html>