<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script type="text/javascript" src="{{ url_for('static',filename='a.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='a.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">

</head>
<body>
<div class="container">
{% block body %}
{% endblock %}
</div>
</body>

</html>
